[project]
name = "auth"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "flask-mysqldb>=2.0.0",
    "jedi>=0.19.2",
    "pyjwt>=2.10.1",
    "pylint>=4.0.2",
]
